@font-face {
    /*serve para registrar a fonte baixada*/
    font-family: Comfortaa-Regular;
    src: url("./src/fonts/Comfortaa-Regular.ttf");
  }
  @font-face {
    /*serve para registrar a fonte baixada*/
    font-family: SabilaRenytha;
    src: url("./src/fonts/SabilaRenytha.otf");
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* background-image: linear-gradient(120deg, #000000 0%, #f68084 100%); */
    background-color: rgba(0, 0, 0, 0.952);
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
  }
  
  .header img {
    width: 30px;
  }
  
  #quem:checked ~ .section-quemsou {
    margin-top: -200vh;
  }
  
  .nome-logo {
    font-family: "Comfortaa-Regular", sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: #f68084d5;
  }
  .nav-menu {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }
  
  .nav-menu-botoes {
    font-family: Comfortaa-Regular;
    font-size: 15px;
    color: #f68084d5;
    text-decoration: none;
  }
  
  .nav-menu-botoes:hover {
    color: #f6808456;
  }
  
  /* -----INTRODUÇÃO----------------------------------------------- */
  
  .section-introdução {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
    padding: 100px;
    font-family: Comfortaa-Regular;
    flex-wrap: wrap;
    margin-top: 90px;
    letter-spacing: 3px;
  }
  
  .meu-nome {
    font-size: 60px;
    color: #f68084;
    font-weight: 9000px;
    transition: all 0.4s;
    text-shadow: 5px 5px 5px black;
  }
  
  .section-div-introdução {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    color: white;
  }
  
  .section-div-introdução-botao {
    padding: 18px;
    gap: 50px;
  }
  
  .section-div-introdução-botao button {
    padding: 15px;
    background-color: #000000d0;
    border-radius: 330px;
    border: 2px solid #f68084;
  }
  
  .section-div-introdução-botao a {
    text-decoration: none;
    font-family: "Comfortaa-Regular", sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px;
    transition: all 0.5s;
  }
  
  .section-div-introdução-botao a:hover {
    color: #f68084;
  }
  
  .section-div-introdução-botao button:hover {
    color: #f68084;
    border: 2px solid #f68084;
  }
  
  .img-victoria {
    width: 330px;
    border-radius: 50%;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    z-index: -1;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-35px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  /* ----QUEM SOU---------------------------------- */
  
  .section-quemsou {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 50px;
    /* background-color: aliceblue; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
    gap: 60px;
    flex-wrap: wrap;
  }
  .img-quemsou {
    width: 260px;
    border-radius: 40px;
    border: 3px solid #000000d0;
    transition: all 0.5s;
  }
  .img-quemsou:hover {
    border-color: #945052;
    filter: opacity(70%);
  }
  .section-div-quemsou {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Comfortaa-Regular;
    color: white;
    gap: 20px;
    border-radius: 20px;
    flex-wrap: wrap;
    background-color: #00000067;
    width: 60%;
    padding: 20px;
    transition: all 2s;
  }
  
  .section-div-quemsou:hover {
    border: 1px solid #f68084;
  }
  
  .section-div-quemsou p {
    text-indent: 50px;
    line-height: 20px;
    width: 100%;
  }
  
  .section-div-quemsou button {
    padding: 15px;
    background-color: #000000d0;
    border-radius: 330px;
    border: 2px solid #f68084;
  }
  
  .section-div-quemsou a {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-family: "Comfortaa-Regular", sans-serif;
    transition: all 0.5s;
  }
  
  .section-div-quemsou a:hover {
    color: #f68084;
  }
  
  /* ---HABILIDADES------------------------------------------------------------------ */
  
  .section-hab {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    align-content: space-between; */
    /* justify-content: space-evenly; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
    font-family: Comfortaa-Regular;
    flex-wrap: wrap;
    padding: 70px;
    color: white;
    flex-wrap: wrap;
  }
  
  .section-div1-hab {
    padding: 50px;
    justify-content: space-around;
  }
  
  .section-div1-hab h2 {
    padding: 0 50px 0 50px;
  }
  
  .section-div2-hab {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* align-content: center; */
    justify-content: space-around;
    font-family: Comfortaa-Regular;
    flex-wrap: wrap;
    padding: 0 50px 50px 30px;
    gap: 100px;
  }
  
  .section-div2-hab-cursos {
    line-height: 30px;
  }
  
  .section-div2-hab-cursos p {
    color: #f68084;
    font-weight: bolder;
  }
  
  .section-div2-hab-cursos ul li {
    list-style: none;
  }
  
  .section-div2-hab-ferramentas {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 50px;
    /* border-left: 2px solid #f68084; */
    background-color: #00000067;
    border-radius: 20px;
  }
  
  .section-div2-hab-ferramentas img {
    width: 100px;
    transition: all 0.5s;
  }
  
  .section-div2-hab-ferramentas img:hover {
    width: 110px;
  }
  
  /* ----PROJETOS------------------------------------- */
  
  .section-projetos {
    /* display: flex;
    flex-direction: row; */
    align-items: center;
    align-content: flex-start;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
    font-family: Comfortaa-Regular;
    color: white;
    flex-wrap: wrap;
  }
  
  .color-tec {
    color: #f68084;
  }
  
  .section-div1-projetos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    align-items: flex-start;
    text-indent: 100px;
  }
  
  .section-div2-projetos {
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 0px 100px 50px 100px;
    border-right: 3px solid #000000b6;
    padding: 10px;
  }
  
  .section-div2-projeto1 {
    width: 300px;
    gap: 20px;
    text-align: center;
  }
  
  .section-div2-projeto1 img {
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    transition: all 0.5s;
  }
  .section-div2-projeto1 img:hover {
    width: 110px;
  }
  
  .section-div2-projeto1 button {
    padding: 15px;
    background-color: #000000d0;
    border-radius: 330px;
    border: 2px solid #f68084;
  }
  .section-div2-projeto1 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-style: normal;
    font-family: "Comfortaa-Regular", sans-serif;
    transition: 0.5s;
  }
  
  .section-div2-projeto1 a:hover {
    color: #f68084;
  }
  
  .section-div2-projeto2 {
    width: 300px;
    gap: 20px;
    text-align: center;
  }
  
  .section-div2-projeto2 img {
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    transition: all 0.5s;
  }
  .section-div2-projeto2 img:hover {
    width: 120px;
  }
  
  .section-div2-projeto2 button {
    padding: 15px;
    background-color: #000000d0;
    border-radius: 330px;
    border: 2px solid #f68084;
  }
  .section-div2-projeto2 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-style: normal;
    font-family: "Comfortaa-Regular", sans-serif;
    transition: 0.5s;
  }
  
  .section-div2-projeto2 a:hover {
    color: #f68084;
  }
  
  .section-div2-projeto3 {
    width: 300px;
    gap: 20px;
    text-align: center;
  }
  
  .section-div2-projeto3 img {
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    transition: all 0.5s;
  }
  .section-div2-projeto3 img:hover {
    width: 120px;
  }
  
  .section-div2-projeto3 button {
    padding: 15px;
    background-color: #000000d0;
    border-radius: 330px;
    border: 2px solid #f68084;
  }
  .section-div2-projeto3 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-style: normal;
    font-family: "Comfortaa-Regular", sans-serif;
    transition: 0.5s;
  }
  
  .section-div2-projeto3 a:hover {
    color: #f68084;
  }
  
  /* ---CONTATO----------------------------------- */
  
  .section-contatos {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    padding: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
    font-family: Comfortaa-Regular;
    color: white;
    flex-wrap: wrap;
  }
  .section-div-contatos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 150px;
  }
  
  fieldset {
    padding: 30px;
  }
  
  .form {
    width: 500px;
    box-sizing: border-box;
  }
  
  #nome,
  #tel,
  #email,
  #assunto,
  #describe {
    display: block;
    width: 100%;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;
    color: white;
    font-family: Comfortaa-Regular;
  }